.top{
    background: #f3f3f3;
    width: 100%;
    height: 50px;
    
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    /* margin-left: -15px; */
    margin-top: 3px;
    min-height: 45px;
    list-style: none;
}
/* /////////////////////////////// */
.top-left{
    display: flex;
    /* border: 1px solid green; */
    width: 25%;
    height: 100%;
    
}
.top-left li{
    margin-left: 10px;
    margin-right: 10px;
    
}
.top-left li:nth-child(4){
    margin-top: 12px;
    color: rgb(200, 70, 133);
}
.location{ color: rgb(200, 70, 133);}
.top-left li:nth-child(3){
    margin-top: 10px;
    color: rgb(178, 177, 177);
}
.top-left li:nth-child(5){
    margin-top: 11px;
}
.top-left li:nth-child(1) img{
    width: 20px;
    height: 20px;
    
    margin-top: 10px;
}
.top-left li:nth-child(2) img{
    width: 110px;
    height: 45px;
    /* margin-top: 10px; */
}
/* ////////////////////////// */
.top-center{
    display: flex;
    /* border: 1px solid green; */
    width: 23%;
    height: 100%;
    
}
.top-center li{
    margin: auto;
    margin-top: 15px;
}
.top-center li:nth-child(1) img,.top-center li:nth-child(5) img{
    width: 18px;
    height: 18px;
}
.top-center li:nth-child(2) img ,.top-center li:nth-child(6) img{
    width: 18px;
    height: 18px;
}
.top-center li:nth-child(3) img,.top-center li:nth-child(7) img{
    width: 18px;
    height: 18px;
}
/* ///////////////////////////// */
.top-right{
    display: flex;
    /* border: 1px solid green; */
    width: 23%;
    justify-content: space-around;
    height: 100%;
}
.top-right li:nth-child(3), .top-right li:nth-child(6){
    color: rgb(178, 177, 177);
}
.top-right li:nth-child(1){
    color: rgb(237, 40, 135);
    width: 30px;
    margin-top: 14px;
    height: 30px;
}
.top-right li:nth-child(4){
    color: rgb(237, 40, 135);
    width: 30px;
    margin-top: 14px;
    height: 30px;
}
.top-right li:nth-child(7){
    color: rgb(237, 40, 135);
    width: 30px;
    margin-top: 14px;
    height: 30px;
}
.top-right li{
    margin-top: 12px;
}